.page-lead  {
  h1, h2 {
    font-family: 'Pacifico', cursive;
  }
  h1 {
    margin-top: 0;
  }
  h2 {
    margin-bottom: 3rem;
  }
}

.header-logo {
  max-height: 90px;
  margin-top: -34px;
}

.page-title, .page-heading {
  color: $medium-purple;
}
